<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lab 1 Menu</title>
</head>
<body class="bg-light">

<div class="container mt-5">
  <h2 class="text-center mb-4">Lab 1</h2>

  <div class="list-group">
    
    <a href="/login/form" class="list-group-item list-group-item-action">
      Bài 4: Form Login
    </a>
    <a href="/rect/form" class="list-group-item list-group-item-action">
      Bài 5: Tính hình chữ nhật
    </a>
  </div>
</div>

</body>
</html>
